* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lobster Two', cursive;
}

.hero {
  height: 100vh;
  width: 100%;
  background-image: url('./web-photo.jpg');
  background-size: cover;
  background-position: center;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 8%;
  background-color: rgba(255, 255, 255, 0.9);
}

.logo {
  color: black;
  font-size: 35px;
  letter-spacing: 1px;
  cursor: pointer;
}

span {
  color: hotpink;
}

nav ul {
  list-style-type: none;
  display: flex;
  align-items: center;
}

nav ul li {
  margin-right: 25px;
}

nav ul li a {
  color: black;
  text-decoration: none;
  font-weight: bold;
  text-transform: capitalize;
}

nav ul li a:hover {
  color: hotpink;
  transition: 0.4s;
}

.content {
  position: absolute;
  top: 50%;
  left: 8%;
  transform: translateY(-50%);
  text-align: center;
}

h1 {
  color: white;
  margin: 20px 0;
  font-size: 4rem;
}

h3 {
  color: white;
  font-size: 1.5rem;
  margin-bottom: 50px;
}

h4 {
  color: white;
  letter-spacing: 2px;
  font-size: 1.25rem;
}

.newsletter form {
  width: 100%;
  max-width: 380px;
  position: relative;
  margin: 0 auto;
}

.newsletter form input:first-child {
  width: 100%;
  padding: 14px 15px;
  border: 2px solid hotpink;
  outline: none;
  border-radius: 30px;
}

.newsletter form input:last-child {
  position: absolute;
  outline: none;
  border: none;
  padding: 10px 30px;
  border-radius: 30px;
  background-color: hotpink;
  color: white;
  box-shadow: 0px 0px 5px black, 0px 0px 15px #858585;
  top: 6px;
  right: 6px;
}

.about {
  width: 100%;
  padding: 100px 0;
  background-color: #191919;
}

.about img {
  max-width: 100%;
  height: auto;
}

.about-text {
  max-width: 550px;
  margin: 0 auto;
  text-align: center;
}

.main {
  width: 100%;
  padding: 0 5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.about-text h2 {
  color: black;
  font-size: 3rem;
  text-transform: capitalize;
  margin-bottom: 20px;
}

.about-text h5 {
  color: black;
  letter-spacing: 2px;
  font-size: 1.5rem;
  margin-bottom: 25px;
  text-transform: capitalize;
}

.about-text p {
  font-family: 'Times New Roman', Times, serif;
  letter-spacing: 1px;
  line-height: 1.6;
  font-size: 1rem;
  margin-bottom: 45px;
}

button {
  background-color: hotpink;
  color: white;
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: bold;
  padding: 13px 30px;
  border-radius: 30px;
  transition: 0.4s;
}

button:hover {
  background-color: black;
  border: 2px solid hotpink;
  cursor: pointer;
}

.service {
  background: #101010;
  width: 100%;
  padding: 100px 0;
}

.title h2 {
  color: white;
  font-size: 3rem;
  max-width: 1130px;
  margin: 30px auto;
  text-align: center;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 400px;
}

.card {
  height: 365px;
  width: 355px;
  padding: 20px 35px;
  background: #191919;
  border-radius: 20px;
  margin: 15px;
  position: relative;
  overflow: hidden;
}

.card i {
  font-size: 50px;
  display: block;
  text-align: center;
  margin: 25px 0;
  color: hotpink;
}

h5 {
  color: white;
  font-size: 1.5rem;
  margin-bottom: 15px;
}

.pra p {
  color: greenyellow;
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 25px;
}

.card .button {
  background-color: hotpink;
  color: white;
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: bold;
  padding: 9px 22px;
  border-radius: 30px;
  transition: 0.4s;
}

.card .button:hover {
  background-color: black;
  border: 2px solid hotpink;
  cursor: pointer;
}

.contact-me {
  width: 100%;
  height: 290px;
  background: #191919;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.contact-me p {
  color: white;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 25px;
}

.contact-me .button-two {
  background-color: hotpink;
  color: white;
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: bold;
  padding: 9px 22px;
  border-radius: 30px;
  transition: 0.4s;
}

.contact-me .button-two:hover {
  background-color: black;
  border: 2px solid hotpink;
  cursor: pointer;
}

footer {
  position: relative;
  width: 100%;
  height: 400px;
  background: #101010;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
