*{
    box-sizing: border-box;
}
header {
    padding: 20px;
    text-align: ;
    background: #c35bd0;
    color: #0d0101;
    font-style: italic;
  }

.link  {
    border-color: rgba(193, 198, 203, 0.234);



}


  